# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# --- Environments ---
.env
.venv/
env/
venv/

# --- PyCharm IDE ---
.idea/



# --- Local Card Image Assets (Not used by Fly.io serve.py) ---
data/assets/

# --- Output / Generated / Temporary ---
*.jpg
*.jpeg
*.png
*.webp
*.tmp
*.bak
*.log
structure.txt

# --- System ---
.DS_Store
Thumbs.db

